@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/satoshi");
body {
  font-family: "Satoshi", sans-serif;
  font-family: "Satoshi", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

.header button {
  text-align: center;
  display: inline-block;
  background: linear-gradient(180deg, #1ce28f 0%, #15ab6c 100%);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.16),
    0 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
  border-radius: 48px;
  margin-top: 20px;
  margin-left: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
/* ======== */
@media only screen and (max-width: 431px) {
  .header button {
    padding: 10px 20px;
    width: 100%;
    max-width: 219px;
  }
}
/* ======== */

.header .image,
section .magicIcon,
section .magicIcon1 {
  max-width: 720px;
  max-height: 480px;
  margin: 90px auto 34px;
}
.header .image img,
section .magicIcon img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
@media only screen and (max-width: 745px) {
  .header .image img{
    border-radius: 16px;
   
  }
}
section .magicIcon1 .image1 {
  border-radius: 40px;
}

.mgiconjbg {
  width: 240px;
  position: absolute;
  top: -108;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 24px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
@media only screen and (max-width: 767px) {
  .mgiconjbg {
    transform: translateY(-136px);
  }
}
/* =================== */
#magicIcon:hover,
#magicCopy:hover,
#magicImage:hover,
#textIcon:hover,
#copyRight:hover,
#textImage:hover {
  transform: scale(1.05) rotate(0.5deg);
}

.Automator img,
.Prototyper img {
  position: absolute;
  top: 233px;
  left: 51px;
  z-index: 2;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px rgb(0 0 0 / 24%), 0px 24px 40px rgb(0 0 0 / 24%);
  border-radius: 16px;
}
.Automator,
.Prototyper{
  width: 350px;
  height: 530px;
  background-color: #edeef0;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 12%), 0px 24px 40px rgb(0 0 0 / 12%);
  position: relative;
}
.Prototyper {
  background-color: #1a1a1a;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .Automator,
  .Prototyper {
    border-radius: 16px;
  }
}
/* ====================== */
@media only screen and (max-width: 639px) {
  .Automator,
  .Prototyper {
    width: 350px;
    border-radius: 16px;
  }
}
/* ================== */
@media only screen and (max-width: 367px) {
  .Automator,
  .Prototyper {
    width: 100%;

    border-radius: 16px;
  }
}

.pricing {
  width: 400px;
  height: 565px;
  margin: auto;
  background-color: #edeef0;
  color: #333;
  overflow: hidden;
  border-radius: 40px;
  transition: all 0.3s linear;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 12%), 0px 24px 40px rgb(0 0 0 / 12%);
}
.active {
  color: #333333;
  font-weight: 700;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  transition:  all 0.3s ease-in-out;
}
/* =================== */
@media only screen and (max-width: 768px) {
  .pricing {
    border-radius: 16px;
    width: 87%;
  }
}
/* ======phone button======= */
@media only screen and (max-width: 364px) {
  .promotion {
    gap: 1rem;
  }
  .license {
    margin-bottom: 20px;
  }
}
/* ================== */
@media only screen and (max-width: 344px) {
  .promotion {
    gap: 1rem;
  }
  .license {
    /* margin-bottom: 20px; */
    margin-bottom: 7px;
  }
  #permonth {
    font-size: 32px;
  }
}
/* ========== */
@media only screen and (max-width: 328px) {
  #permonth {
    font-size: 29px;
  }
}
/* =========== */
@media only screen and (max-width: 304px) {
  #permonth {
    font-size: 23px;
  }
  .pricing button {
    font-size: 16px;
  }
}
/* ========== */
@media only screen and (max-width: 302px) {
  .pricing {
    padding: 19px;
  }
}
/* ======== */
@media only screen and (max-width: 242px) {
  #permonth {
    font-size: 18px;
  }
}
/* end OF SECTION 3 */
footer button {
  display: inline-block;
  background-color: #7b61ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.16),
    0 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
  border-radius: 48px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
@media only screen and (max-width: 431px) {
  footer button {
    padding: 10px 20px;
    width: 100%;
    max-width: 219px;
  }
}
.ACTIVEbackground11 {
  padding: 12px 24px;
  background: white;
  color: #333333;
  border-radius: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
.ACTIVEbackground {
  background-color: #333333;
  border-radius: 48px;
  color: white;
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #190b2e;
  color: white;
  position: relative;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
footer #overlay {
  width: 100%;
  height: 100%;
  background-image: url(/overlay-min.png);
  mix-blend-mode: color-dodge;
  background-size: cover;
  position: absolute;
  z-index: 1;
  background-position: top center;
}
footer #wizard {
  background-image: url(/wizard-min.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 884px;
  width: 100%;
  height: 792px;
  position: absolute;
  bottom: -128px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}

/* footer nav */
@media only screen and (max-width: 767px) {
  footer nav {
    transform: translateY(-308px);
  }
}

/* CSS for scroll to top button style */
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 2px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
}

@media only screen and (max-width: 328px) {
  footer #footUl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* ======== */